Repository OISF/suricata-verify, pull requests merged in 2024-01, with the labels that each got.

#1581 transform: test strip-pseudo-headers from version 7
  tests/transform-strip-pseudo-headers/test.yaml
Labels: requires suricata pr

#1602 Adds test that we parse http not as 0.9
  tests/http-not09/README.md
  tests/http-not09/input.pcap
  tests/http-not09/test.yaml
Labels: tests pass

#1610 tests/requires: test failure case
  tests/requires-fail/README.md
  tests/requires-fail/test.rules
  tests/requires-fail/test.yaml
  tests/requires-ok/README.md
  tests/requires-ok/test.rules
  tests/requires-ok/test.yaml
Labels: requires suricata pr, requires backport
